<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="io.hyker.riks"
        version="1.0.2">

  <name>HYKER RIKS</name>

  <engines>
    <engine name="cordova" version=">=6.5.0"/>
  </engines>

  <asset src="www/rikskit.js" target="js/rikskit.js"/>

  <js-module src="www/rikskit.js" name="rikskit">
    <clobbers target="rikskit" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="RiksKit">
        <param name="android-package" value="io.hyker.plugin.RiksKit"/>
      </feature>
    </config-file>

    <source-file src="src/android/RiksKit.java" target-dir="src/io/hyker/plugin/"/>
  </platform>

  <platform name="ios">

    <config-file target="config.xml" parent="/widget">
      <feature name="RiksKit">
        <param name="ios-package" value="RiksKit" />
      </feature>
    </config-file>

    <header-file src="src/ios/RiksKit.h" target-dir="RiksPlugin"/>
    <source-file src="src/ios/RiksKit.m" target-dir="RiksPlugin"/>
  </platform>

</plugin>
